.navbar-brand {
    text-align: center;
}
.card {
    padding: .5rem;
    margin: .5rem;
    border-radius: 25px;
    min-width: 25%;
}
.city-button {
    padding: .5rem;
    margin: .5rem;
    min-width: 25%;
}

#city-detail {
    min-height: 50vh;
}

#city-forecast {
    min-height: 18vh;
}